<div style="padding: 20px; font-family: sans-serif;">
  <h1>Día 1-10: Para Desarrolladores .NET</h1>
  <h2>{{ title }}</h2>

  @if (isLoading()) {
    <p style="color: blue; font-weight: bold;">Cargando productos desde el "servidor"...</p>
  } @else {
    <h3>Lista de Productos Disponibles</h3>

    <ul style="list-style-type: none; padding: 0;">
    @for (product of productsList(); track product.id){
      <li style="padding: 10px; margin-bottom: 8px; background-color: #f4f4f4; border-left: 5px solid #0078d4; border-radius: 4px;">
          <strong>{{ product.name }}</strong> <br>
          <span style="color: #555;">Precio: ${{ product.price }}</span>
        </li>
    } @empty {
      <p>No hay productos registrados en el sistema.</p>
    }
    </ul>
  }

  <p>El entorno base está listo. Revisa la consola del navegador presionando F12.</p>
</div>